@import './util.import.less';

.Dependencies {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &-Header {
    .font-s2;
    .type-bold;
    margin-bottom: 20px;
  }

  &-Text {
    .font-s1;

    code {
      background-color: rgba(245, 245, 245, 0.9);
      padding: 0 5px;
    }
  }

  &-List {
  }

  &-Item {
    .type-code;
    display: flex;
    flex-direction: row;
  }

  &-Name {
    width: 200px;
  }

  &-Version {
  }
}
