{
  "presets": [
    ["env", {
      "targets": {
        "node": 4
      },
    }]
  ],
  "plugins": [
    "syntax-flow",
    "transform-runtime",
    "transform-flow-strip-types",
    "transform-async-generator-functions",
    "transform-object-rest-spread",
  ]
}
